@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin {
  animation: spin 4s linear infinite;
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(136, 136, 136);
}
